.chat-main
  .chat-main__group-info
    .main-top
      .main-top__info
        = @group.name
        .main-top__info--p
          MENBER:
          - @group.users.each do |user|
            = user.name
      .main-top__edit
        = link_to "Edit", edit_group_path(@group), class: "main-top__edit--a" 
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [:group, @message] do |f|
      .form-content
        = f.text_field :content, placeholder: 'type a message', class: 'form-content__message'
        = f.label :image, class: 'form-content__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class:"form-content__send"